html {
    font-size: 25px;
}

body {
    background-color: darkslateblue;
    color:floralwhite;
    font-family:'Times New Roman', Times, serif;
}

a {
    color: lightpink
}

a:visited {
    color: coral
}

a:hover, a:active {
    color:indianred
}